<nav class="navbar is-light sticky" role="navigation" aria-label="main navigation" (scroll)="onWindowScroll($event)" id="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/home']" routerLinkActive="active">
            <img src="../../../assets/LogoSmall.png">
            <h1 id="brand-font">Parliament</h1>
        </a>
        <a role="button" class="navbar-burger buger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" aria-expanded="false" aria-label="dropdown">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <strong>{{userDetail.Surname}}</strong>
                </a>
                <div class="navbar-dropdown">
                  <!-- <a class="navbar-item">
                    Edit profile
                  </a> -->
                  <a *ngIf="logoutbtn" (click)="logout()" class="navbar-item is-danger logoutbtn">
                    <strong style="color: red;">Log Out</strong>
                  </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container is-widescreen profile card">
    <div class="columns">
        <div class="column is-one-quarter">
            <figure class="image is-128x128">
                <img [src]="transformImg()" [ngStyle]="{'width.px': 200,'height.px': 200}"
                onerror="this.src='../../../assets/unnamed.png';">
            </figure>
        </div>
        <div class="column detail">
            <div class="columns name">
                <div class="column is-one-quarter"><strong>NAME :</strong> {{userDetail.Surname}}</div>
                <div class="column is-one-quarter"><strong>LASTNAME :</strong>  {{userDetail.Lastname}}</div>
            </div>
            <div><strong>DATE OF BIRTH :</strong> {{userDetail.DOB}}</div>
            <div><strong>EDUCATION :</strong> {{userDetail.EducationDegree}}</div>
            <div><strong>COUNCIL POSITION :</strong> {{userDetail.CouncilposName}}</div>
            <div><strong>PARTY :</strong> {{userDetail.PartyName}}</div>
            <div><strong>PARY POSITION :</strong> {{userDetail.PartyPosName}}</div>
            <div><strong>MINISTRY :</strong> {{userDetail.MinistryPosName}}</div>
            <div><strong>SUB MINISTRY NAME :</strong> {{(userDetail.SubMinistryName !== null) ? userDetail.SubMinistryName : "-"}}</div>
        </div>
    </div>
</div>
<div class="tabs is-toggle is-toggle-rounded is-centered" id="tabs">
    <ul>
        <li class="is-active tablinks" data-tab="1"><a>Conference</a></li>
        <li class="tablinks" data-tab="2"><a>Council</a></li>
        <li class="tablinks" data-tab="3"><a>Party</a></li>
        <li class="tablinks" data-tab="4"><a>Ministry</a></li>
    </ul>    
</div>

<div id="tab-content">
    <div class="is-active" data-content="1">
        <app-conference-view></app-conference-view>
    </div>
    <div data-content="2">
        <app-council-view></app-council-view>
    </div>
    <div data-content="3">
        <app-party-view></app-party-view>
    </div>
    <div data-content="4">
        <app-ministry-view></app-ministry-view>
    </div>
</div>
