.button {
    font-size: 30px;
  }
  #cardview {
    margin: 20px;
  }
  .table {
    width: auto;
    margin: auto;
  }
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .modal-card {
    width: 90%;
  }