<div class="container is-fullhd">
  <div class="columns">
    <div class="column card is-three-quarters">
      <table class="table">
        <thead>
          <tr>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>ตำแหน่งในรัฐสภา</th>
            <th>รายละเอียดเพิ่มเติม</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cm of counncilMember">
            <th>{{cm.Surname}}</th>
            <th>{{cm.Lastname}}</th>
            <th>{{cm.CouncilPosName}}</th>
            <th>{{(cm.CouncilPosDetail !== null) ? cm.CouncilPosDetail : "-"}}</th>
            <th>
              <a (click)="deleteCouncil(cm.PersonalID)">
                <img src="../../../../assets/delete.png" alt="" width="15">
              </a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column">
      <div class="button is-primary" id="showModalCouncil">
        Add Council member
      </div>
    </div>
  </div>
</div>

<!-- Modal of add council member -->
<div class="modal council-member">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Council Member</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <app-council-member></app-council-member>
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>