
<div class="container is-fluid">
    <!-- Council member -->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Council Member</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ช่วงอายุ</th>
                        <th>จำนวน</th>
                        <th>ร้อยละ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>as</th>
                        <th>wcwc</th>
                        <th>wewd</th>
                    </tr>
                </tbody>
            </table>
          </section>
          <footer class="modal-card-foot">
          </footer>
        </div>
    </div>

    <button class="button" id="showModal"><h1>Council Member</h1></button>
</div>