#conferencetype{
    width: 220px;

}
#dateconference{
    width: 220px;
}
#chairmanIDlabel{
    margin-top: 19px;
}
.field{
    display: inline;
}


.error{
    display: inline;
}

#buildingtype{
    margin-bottom: -30px;
}
