<br>
<div class="container ">
    <div class="header ">
        <label class="label is-size-1" id="header">CONFERENCE</label>
    </div>
</div>
<br>

<div class="columns is-mobile is-desktop is-multiline is-centered">
    <div class="column">
        <div class="box is-narrow is-desktop is-mobile">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <label class="label is-large">CONFERENCE DETAIl</label>
                <!-- success register -->
                <div class="notification is-success is-light" *ngIf="successfulregister">
                    <button class="delete"></button>
                    <strong>REGISTER SUCCESS</strong>
                </div>
                <!-- fail register -->
                <div class="notification is-danger is-light" *ngIf="failregister">
                    <button class="delete"></button>
                    <strong>REGISTER FAIL</strong>
                </div>
                <hr>
                <div class="columns">
                    <div class="column ">
                        <div class="columns">
                            <div class="column">
                                <div>
                                    <!-- TOPIC NAME -->
                                    <label class="label">TOPIC NAME</label>
                                    <textarea class="textarea" rows="9" placeholder="XXXXXXXXXX" id="topicname"
                                        name="topicname" formControlName="topicname"></textarea>
                                    <div class="error" *ngIf="(topicname.invalid && topicname.touched)">
                                        <div class="help is-danger">Topic name is required</div>
                                    </div>
                                </div>
                                <div>
                                    <!-- Chair man ID -->
                                    <label class="label" id=chairmanIDlabel>CHAIR MAN ID</label>
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select ID="chairmanID" name="chairmanID" formControlName="chairmanID">
                                                    <option value="">Select chairman ID</option>
                                                    <option *ngFor="let chairmanID of resultspersonalID">
                                                        {{chairmanID.PersonalID}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div>
                                    <!-- CONFERENCE TYPE -->
                                    <label class="label">CONFERENCE TYPE</label>
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select ID="conferencetype" name="conferencetype"
                                                    formControlName="conferencetype">
                                                    <option value="">Select conference type</option>
                                                    <option *ngFor="let conferencetype of resultsconferencetype"
                                                        [ngValue]="conferencetype">
                                                        {{conferencetype.ConferenceTypeName}}</option>
                                                </select>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <!-- Start time -->
                                    <label class="label">START TIME OF CONFERENCE</label>

                                    <div class="columns">
                                        <div class="column">
                                            <div class="bd-notification is-danger">
                                            </div>
                                            <div class="columns is-mobile is-desktop">
                                                <div class="column is-one-fifth">
                                                    <div class="bd-notification is-danger">
                                                        <div class="field">
                                                            <div class="control">
                                                                <div class="select">
                                                                    <select ID="starttime" name="starttime"
                                                                        formControlName="starttime">
                                                                        <option>01</option>
                                                                        <option>02</option>
                                                                        <option>03</option>
                                                                        <option>04</option>
                                                                        <option>05</option>
                                                                        <option>06</option>
                                                                        <option>07</option>
                                                                        <option>08</option>
                                                                        <option>09</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                        <option>15</option>
                                                                        <option>16</option>
                                                                        <option>17</option>
                                                                        <option>18</option>
                                                                        <option>19</option>
                                                                        <option>20</option>
                                                                        <option>21</option>
                                                                        <option>22</option>
                                                                        <option>23</option>
                                                                        <option>24</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column is-1" id="colon">
                                                    <p class="bd-notification is-danger">
                                                        <label class="label is-medium">:</label>
                                                    </p>
                                                </div>
                                                <div class="column is-one-fifth" id="stcol">
                                                    <p class="bd-notification is-danger">
                                                        <label class="label">
                                                            <div class="field">
                                                                <div class="control">
                                                                    <div class="select">
                                                                        <select ID="starttimemin" name="starttimemin"
                                                                            formControlName="starttimemin">
                                                                            <option>00</option>
                                                                            <option>01</option>
                                                                            <option>02</option>
                                                                            <option>03</option>
                                                                            <option>04</option>
                                                                            <option>05</option>
                                                                            <option>06</option>
                                                                            <option>07</option>
                                                                            <option>08</option>
                                                                            <option>09</option>
                                                                            <option>10</option>
                                                                            <option>11</option>
                                                                            <option>12</option>
                                                                            <option>13</option>
                                                                            <option>14</option>
                                                                            <option>15</option>
                                                                            <option>16</option>
                                                                            <option>17</option>
                                                                            <option>18</option>
                                                                            <option>19</option>
                                                                            <option>20</option>
                                                                            <option>21</option>
                                                                            <option>22</option>
                                                                            <option>23</option>
                                                                            <option>25</option>
                                                                            <option>26</option>
                                                                            <option>27</option>
                                                                            <option>28</option>
                                                                            <option>29</option>
                                                                            <option>30</option>
                                                                            <option>31</option>
                                                                            <option>32</option>
                                                                            <option>33</option>
                                                                            <option>34</option>
                                                                            <option>35</option>
                                                                            <option>36</option>
                                                                            <option>37</option>
                                                                            <option>38</option>
                                                                            <option>39</option>
                                                                            <option>40</option>
                                                                            <option>41</option>
                                                                            <option>42</option>
                                                                            <option>43</option>
                                                                            <option>44</option>
                                                                            <option>45</option>
                                                                            <option>46</option>
                                                                            <option>47</option>
                                                                            <option>48</option>
                                                                            <option>49</option>
                                                                            <option>50</option>
                                                                            <option>51</option>
                                                                            <option>52</option>
                                                                            <option>53</option>
                                                                            <option>54</option>
                                                                            <option>55</option>
                                                                            <option>56</option>
                                                                            <option>57</option>
                                                                            <option>58</option>
                                                                            <option>59</option>
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <!-- END TIME -->
                                    <label class="label">END TIME OF CONFERENCE</label>
                                    <div class="columns">
                                        <div class="column ">
                                            <div class="columns">
                                                <div class="column is-one-fifth">
                                                    <div class="bd-notification is-danger">
                                                        <div class="field">
                                                            <div class="control">
                                                                <div class="select">
                                                                    <select ID="endtime" name="endtime"
                                                                        formControlName="endtime">
                                                                        <option>01</option>
                                                                        <option>02</option>
                                                                        <option>03</option>
                                                                        <option>04</option>
                                                                        <option>05</option>
                                                                        <option>06</option>
                                                                        <option>07</option>
                                                                        <option>08</option>
                                                                        <option>09</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                        <option>15</option>
                                                                        <option>16</option>
                                                                        <option>17</option>
                                                                        <option>18</option>
                                                                        <option>19</option>
                                                                        <option>20</option>
                                                                        <option>21</option>
                                                                        <option>22</option>
                                                                        <option>23</option>
                                                                        <option>24</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column is-1" id="colon2">
                                                    <p class="bd-notification is-danger">
                                                        <label class="label is-medium">:</label>
                                                    </p>
                                                </div>
                                                <div class="column is-one-fifth" id="stcol2">
                                                    <p class="bd-notification is-danger">
                                                        <label class="label">
                                                            <div class="field">
                                                                <div class="control">
                                                                    <div class="select">
                                                                        <select ID="endtimemin" name="endtimemin"
                                                                            formControlName="endtimemin">
                                                                            <option>00</option>
                                                                            <option>01</option>
                                                                            <option>02</option>
                                                                            <option>03</option>
                                                                            <option>04</option>
                                                                            <option>05</option>
                                                                            <option>06</option>
                                                                            <option>07</option>
                                                                            <option>08</option>
                                                                            <option>09</option>
                                                                            <option>10</option>
                                                                            <option>11</option>
                                                                            <option>12</option>
                                                                            <option>13</option>
                                                                            <option>14</option>
                                                                            <option>15</option>
                                                                            <option>16</option>
                                                                            <option>17</option>
                                                                            <option>18</option>
                                                                            <option>19</option>
                                                                            <option>20</option>
                                                                            <option>21</option>
                                                                            <option>22</option>
                                                                            <option>23</option>
                                                                            <option>25</option>
                                                                            <option>26</option>
                                                                            <option>27</option>
                                                                            <option>28</option>
                                                                            <option>29</option>
                                                                            <option>30</option>
                                                                            <option>31</option>
                                                                            <option>32</option>
                                                                            <option>33</option>
                                                                            <option>34</option>
                                                                            <option>35</option>
                                                                            <option>36</option>
                                                                            <option>37</option>
                                                                            <option>38</option>
                                                                            <option>39</option>
                                                                            <option>40</option>
                                                                            <option>41</option>
                                                                            <option>42</option>
                                                                            <option>43</option>
                                                                            <option>44</option>
                                                                            <option>45</option>
                                                                            <option>46</option>
                                                                            <option>47</option>
                                                                            <option>48</option>
                                                                            <option>49</option>
                                                                            <option>50</option>
                                                                            <option>51</option>
                                                                            <option>52</option>
                                                                            <option>53</option>
                                                                            <option>54</option>
                                                                            <option>55</option>
                                                                            <option>56</option>
                                                                            <option>57</option>
                                                                            <option>58</option>
                                                                            <option>59</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- DATE OF CONFERENCE -->
                                        <label class="label">DATE OF CONFERENCE</label>
                                        <input class="input" type="date" ID=dateconference name="dateconference"
                                            formControlName="dateconference"> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="columns is-mobile is-desktop is-multiline is-centered">
    <div class="column">
        <div class="box is-narrow is-desktop is-mobile">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <div class="column is-5">
                                <div>
                                    <!-- Building name -->
                                    <label class="label">BUILDING NAME</label>
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select ID="concilPos" name="buildingname"
                                                    formControlName="buildingname"
                                                    (ngModelChange)="onOptionsSelected($event)">
                                                    <option value="">Select building name</option>
                                                    <option *ngFor="let buildingname of resultsbuilding"
                                                        [ngValue]="buildingname">
                                                        {{buildingname.BuildingName}}</option>
                                                </select>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <!-- Building number -->
                                    <label class="label">BUILDING NUMBER</label>
                                    <div *ngFor="let buildingname of resultsbuildingSelected">
                                        {{buildingname.BuildingNO}}</div>

                                </div>
                            </div>
                            <div class="column is-4">
                                <div>
                                    <!-- ROOM NUMBER -->
                                    <label class="label">ROOM NUMBER</label>
                                    <div class="field">
                                        <div class="control">
                                            <div class="select">
                                                <select ID="concilPos" name="roomnumber" formControlName="roomnumber">
                                                    <option value="">Select room number</option>
                                                    <option *ngFor="let roomnumber of resultsroom2"
                                                        [ngValue]="roomnumber">
                                                        {{roomnumber.RoomNo}}</option>
                                                </select>                                         
                                                <div class="error"
                                                    *ngIf="(roomnumber.invalid && roomnumber.touched && buildingname.valid) ">
                                                    <div class="help is-danger" id="errorroom">Room number is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div>

                                    <!-- Bilding street -->
                                    <label class="label">BUILDING STREET</label>
                                    <div *ngFor="let buildingstreet of resultsbuildingSelected">
                                        {{buildingstreet.BuildingStreet}}</div>
                                </div>
                            </div>
                            <div class="column is-4">
                                <div>
                                    <!-- Building type -->
                                    <label class="label" id="buildingtypelabel">BUILDING TYPE</label>
                                    <div *ngFor="let buildingtype of resultsbuildingSelected" id="buildingtype">
                                        {{buildingtype.BuildingType}}</div>
                                </div>
                                <br><br><br>
                                <div>
                                    <!-- zip code -->
                                    <label class="label">ZIP CODE</label>
                                    <div *ngFor="let buildingzipcode of resultsbuildingSelected" id="zipcode">
                                        {{buildingzipcode.Zipcode}}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- BUILDING DETAIL -->
                            <label class="label">BUILDING DETAIL</label>
                            <div *ngFor="let buildingdetail of resultsbuildingSelected">
                                {{buildingdetail.BuildingDetail}}</div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="level-item has-text-centered ">
                            <figure class="image is-sqaure">
                                <br>
                                <img [src]="url" class="img1">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="columns is-mobile is-centered">
                    <div class="column is-one-quarter">
                        <form [formGroup]="form2">
                            <button class="button is-large" id="tosubconference">ADD SUB TOPIC</button>
                        </form>
                        <div class="modal" id="subconferencemodal">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">SUB TOPIC</p>
                                    <form [formGroup]="form2">
                                        <!-- <button class="delete" aria-label="close"></button> -->
                                    </form>
                                </header>
                                <section class="modal-card-body">
                                    <div class="columns">
                                        <div class="column">
                                            <!-- subtopic -->
                                            <div>
                                                <label class="label">SUB TOPIC NAME</label>
                                                <textarea class="textarea" rows="9" placeholder="XXXXXXXXXX"
                                                    id="subtopicname" name="subtopicname"
                                                    formControlName="subtopicname"></textarea>
                                            </div>
                                            <br>
                                            <div >
                                                <!-- Speaker ID SUB -->
                                                <label class="label">SPEAKER ID</label>
                                                <div class="field">
                                                    <div class="control">
                                                        <div class="select">
                                                            <select ID="speakerID" name="speakerID" formControlName="speakerID">
                                                                <option value="">Select speaker ID</option>
                                                                <option *ngFor="let speakerID of resultspersonalID">
                                                                    {{speakerID.PersonalID}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column">
                                            <div>
                                                <div class="columns">
                                                    <div class="column">
                                                        <label class="label">Acceptor</label>
                                                        <input class="input" type="text" placeholder="100" id="acceptor"
                                                            name="acceptor" formControlName="acceptor"
                                                            (keypress)="numberOnly($event)">
                                                    </div>
                                                    <div class="column">
                                                        <label class="label">Rejector</label>
                                                        <input class="input" type="text" placeholder="100" id="rejector"
                                                            name="rejector" formControlName="rejector"
                                                            (keypress)="numberOnly($event)">
                                                    </div>
                                                    <div class="column">
                                                        <label class="label">Nonvoter</label>
                                                        <input class="input" type="text" placeholder="100" id="nonvoter"
                                                            name="nonvoter" formControlName="nonvoter"
                                                            (keypress)="numberOnly($event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div>
                                                <label class="label">START TIME OF SUB TOPIC</label>
                                                <div class="columns">
                                                    <div class="column is-4">
                                                        <!-- Start time sub-->
                                                        <div class="field">
                                                            <div class="control">
                                                                <div class="select">
                                                                    <select ID="substarttime" name="substarttime"
                                                                        formControlName="substarttime">
                                                                        <option>00</option>
                                                                        <option>01</option>
                                                                        <option>02</option>
                                                                        <option>03</option>
                                                                        <option>04</option>
                                                                        <option>05</option>
                                                                        <option>06</option>
                                                                        <option>07</option>
                                                                        <option>08</option>
                                                                        <option>09</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                        <option>15</option>
                                                                        <option>16</option>
                                                                        <option>17</option>
                                                                        <option>18</option>
                                                                        <option>19</option>
                                                                        <option>20</option>
                                                                        <option>21</option>
                                                                        <option>22</option>
                                                                        <option>23</option>
                                                                        <option>24</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column is-2">
                                                        <label class="label is-medium">:</label>
                                                    </div>
                                                    <div class="column">
                                                        <div class="field">
                                                            <div class="control">
                                                                <div class="select">
                                                                    <select ID="substarttimemin" name="substarttimemin"
                                                                        formControlName="substarttimemin">
                                                                        <option>00</option>
                                                                        <option>01</option>
                                                                        <option>02</option>
                                                                        <option>03</option>
                                                                        <option>04</option>
                                                                        <option>05</option>
                                                                        <option>06</option>
                                                                        <option>07</option>
                                                                        <option>08</option>
                                                                        <option>09</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                        <option>15</option>
                                                                        <option>16</option>
                                                                        <option>17</option>
                                                                        <option>18</option>
                                                                        <option>19</option>
                                                                        <option>20</option>
                                                                        <option>21</option>
                                                                        <option>22</option>
                                                                        <option>23</option>
                                                                        <option>25</option>
                                                                        <option>26</option>
                                                                        <option>27</option>
                                                                        <option>28</option>
                                                                        <option>29</option>
                                                                        <option>30</option>
                                                                        <option>31</option>
                                                                        <option>32</option>
                                                                        <option>33</option>
                                                                        <option>34</option>
                                                                        <option>35</option>
                                                                        <option>36</option>
                                                                        <option>37</option>
                                                                        <option>38</option>
                                                                        <option>39</option>
                                                                        <option>40</option>
                                                                        <option>41</option>
                                                                        <option>42</option>
                                                                        <option>43</option>
                                                                        <option>44</option>
                                                                        <option>45</option>
                                                                        <option>46</option>
                                                                        <option>47</option>
                                                                        <option>48</option>
                                                                        <option>49</option>
                                                                        <option>50</option>
                                                                        <option>51</option>
                                                                        <option>52</option>
                                                                        <option>53</option>
                                                                        <option>54</option>
                                                                        <option>55</option>
                                                                        <option>56</option>
                                                                        <option>57</option>
                                                                        <option>58</option>
                                                                        <option>59</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div>
                                                <label class="label">END TIME OF SUB TOPIC</label>
                                                <div class="columns">
                                                    <div class="column is-4">
                                                        <!-- Start time sub-->
                                                        <div class="field">
                                                            <div class="control">
                                                                <div class="select">
                                                                    <select ID="subendtime" name="subendtime"
                                                                        formControlName="subendtime">
                                                                        <option>00</option>
                                                                        <option>01</option>
                                                                        <option>02</option>
                                                                        <option>03</option>
                                                                        <option>04</option>
                                                                        <option>05</option>
                                                                        <option>06</option>
                                                                        <option>07</option>
                                                                        <option>08</option>
                                                                        <option>09</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                        <option>15</option>
                                                                        <option>16</option>
                                                                        <option>17</option>
                                                                        <option>18</option>
                                                                        <option>19</option>
                                                                        <option>20</option>
                                                                        <option>21</option>
                                                                        <option>22</option>
                                                                        <option>23</option>
                                                                        <option>24</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column is-2">
                                                        <label class="label is-medium">:</label>
                                                    </div>
                                                    <div class="column">
                                                        <div class="field">
                                                            <div class="control">
                                                                <div class="select">
                                                                    <select ID="subendtimemin" name="subendtimemin"
                                                                        formControlName="subendtimemin">
                                                                        <option>00</option>
                                                                        <option>01</option>
                                                                        <option>02</option>
                                                                        <option>03</option>
                                                                        <option>04</option>
                                                                        <option>05</option>
                                                                        <option>06</option>
                                                                        <option>07</option>
                                                                        <option>08</option>
                                                                        <option>09</option>
                                                                        <option>10</option>
                                                                        <option>11</option>
                                                                        <option>12</option>
                                                                        <option>13</option>
                                                                        <option>14</option>
                                                                        <option>15</option>
                                                                        <option>16</option>
                                                                        <option>17</option>
                                                                        <option>18</option>
                                                                        <option>19</option>
                                                                        <option>20</option>
                                                                        <option>21</option>
                                                                        <option>22</option>
                                                                        <option>23</option>
                                                                        <option>25</option>
                                                                        <option>26</option>
                                                                        <option>27</option>
                                                                        <option>28</option>
                                                                        <option>29</option>
                                                                        <option>30</option>
                                                                        <option>31</option>
                                                                        <option>32</option>
                                                                        <option>33</option>
                                                                        <option>34</option>
                                                                        <option>35</option>
                                                                        <option>36</option>
                                                                        <option>37</option>
                                                                        <option>38</option>
                                                                        <option>39</option>
                                                                        <option>40</option>
                                                                        <option>41</option>
                                                                        <option>42</option>
                                                                        <option>43</option>
                                                                        <option>44</option>
                                                                        <option>45</option>
                                                                        <option>46</option>
                                                                        <option>47</option>
                                                                        <option>48</option>
                                                                        <option>49</option>
                                                                        <option>50</option>
                                                                        <option>51</option>
                                                                        <option>52</option>
                                                                        <option>53</option>
                                                                        <option>54</option>
                                                                        <option>55</option>
                                                                        <option>56</option>
                                                                        <option>57</option>
                                                                        <option>58</option>
                                                                        <option>59</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div>
                                                <div>
                                                    <!-- DATE OF SUBTOPIC -->
                                                    <label class="label">DATE OF SUBTOPIC</label>
                                                    <input class="input" type="date" ID=datesubtopic name="datesubtopic"
                                                        formControlName="datesubtopic"> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button savesubconference">Save</button>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="level-right is-mobile ">
                    <div class="level-item has-text-centered">
                        <div>
                            <button type="submit" class="button is-rounded" name="conference-submit"
                                [disabled]="form.invalid">ADD</button>
                        </div>
                    </div>
                </nav>
            </form>
        </div>
    </div>
</div>