<div class="form-group card">
    <h2>ADD INFORMATION OF PARTY</h2>
    <hr>
    <form autocomplete="off">
        <div class="container row">
            <!-- Party simbol -->
            <div class="col-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input">
                    <label for="inputGroupFile">choose file</label>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group ">
                    <label for="topicname">PARTY NAME</label>
                    <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                        id="partyname" autocomplete="off" name="partyname">
                    <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                        && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group ">
                            <label for="topicname">FOUNDER ID</label>
                            <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                                id="partyname" autocomplete="off" name="partyname">
                            <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                                && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                        </div>   
                    </div>
                    <div class="col-sm">
                        <div class="form-group ">
                            <label for="topicname">LEADER ID</label>
                            <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                                id="partyname" autocomplete="off" name="partyname">
                            <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                                && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group ">
                            <label for="topicname">TELEPHONE</label>
                            <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                                id="partyname" autocomplete="off" name="partyname">
                            <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                                && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                        </div>   
                    </div>
                    <div class="col-sm">
                        <div class="form-group ">
                            <label for="topicname">FOUNDERING DATE</label>
                            <input type="date" placeholder="xxx" class="form-control" formControlName="partyname"
                                id="partyname" autocomplete="off" name="partyname">
                            <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                                && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!-- Photoes -->
        <div class="container row">
            <div class="col-sm">
                <img src="" alt="Founder">
            </div>
            <div class="col-sm">
                <img src="" alt="Leader">
            </div>
        </div>
        <hr>
        <div class="container row">
            <div class="col-sm">
                <div class="form-group ">
                    <label for="topicname">BUILDING NAME</label>
                    <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                        id="partyname" autocomplete="off" name="partyname">
                    <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                        && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                </div>
                <div class="form-group ">
                    <label for="topicname">BUILDING ID</label>
                    <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                        id="partyname" autocomplete="off" name="partyname">
                    <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                        && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                </div>
                <div class="form-group ">
                    <label for="topicname">BUILDING STREET</label>
                    <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                        id="partyname" autocomplete="off" name="partyname">
                    <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                        && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group ">
                            <label for="topicname">TYPE</label>
                            <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                                id="partyname" autocomplete="off" name="partyname">
                            <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                                && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group ">
                            <label for="topicname">ZIP CODE</label>
                            <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                                id="partyname" autocomplete="off" name="partyname">
                            <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                                && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="topicname">BUILDING DETAIL</label>
                    <input type="text" placeholder="xxx" class="form-control" formControlName="partyname"
                        id="partyname" autocomplete="off" name="partyname">
                    <div class="error" *ngIf="partyForm.controls['parrtyname'].hasError('required')
                        && partyForm.controls['parrtyname'].touched">Please enter Topic</div>
                </div>
            </div>
            <div class="col-sm">
                <img src="" alt="Party building">
            </div>
        </div>

        <button type="cancel" class="btn btn-light float-right">Cancel</button>
        <button type="submit" class="btn btn-success float-right" [disabled]="!partyForm.valid">Submit</button>
    </form>
</div>