<!----------------------- Header And Navigation --------------------------->
<div class="header-main" id="parallax" (scroll)="onWindowScroll($event)" #home>
  <div class="navbar" id="navbar">

    <div class="navbar-brand">
      <a class="navbar-item">
        <img class="nav-icon" src="assets/LogoSmall.png" alt="Parliament Meeting">
        <h1 id="brand-font">Parliament</h1>
      </a>

      <!------------- Navigation bar in smartphone form --------------->
      <a role="button" class="navbar-burger buger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

    </div>

    <div id="navmenu" class="navbar-menu">
      <!-----------------------Second Part------------------->
      <div class="navbar-end">
        <div class="nav-end">
          <div class="navbar-item">
            <button (click)="SmoothTo(home)" class="navbar-item">Home</button>
            <button (click)="SmoothTo(part1)" class="navbar-item">Meeting</button>
            <button (click)="SmoothTo(part2)" href="/home#part2" class="navbar-item">About</button>
            <div class="buttonLogIn">
              <a *ngIf="loginbtn" [routerLink]="['/login']" routerLinkActive="active" class="button is-info">
                <strong>Log In</strong>
              </a>
            </div>
            <div class="user">
              <a *ngIf="logoutbtn" class="button is-info" [routerLink]="['/user']" routerLinkActive="active">
                <strong>User</strong>
              </a>
            </div>
            <div class="buttonLogOut">
              <a *ngIf="logoutbtn" (click)="logout()" class="button is-danger">
                <strong>Log Out</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="image-header">
    <img src="assets\LogoBig.png" id="logoimg">
    <p class="sublogo">PARLIAMENT MEETING</p>
  </div>

</div>

<!---------------------------- Main Content ----------------------------->
<div class="content">
  <section class="about-content" id="part1" #part1>
    <h1>Meeting</h1>
    <!-- Dropdown choose analysis report -->
    <div class="dropdown">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Analysis Report</span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a class="dropdown-item is-active" data-tab="1">Top Argument Rank</a>
          <a class="dropdown-item" data-tab="2">Conference Duration</a>
          <a class="dropdown-item" data-tab="3">Cost per Building</a>
          <a class="dropdown-item" data-tab="4">Number of Member each Party</a>
          <a class="dropdown-item" data-tab="5">Attendant Rate</a>
          <a class="dropdown-item" data-tab="6">Age Interval</a>
          <a class="dropdown-item" data-tab="7">coming soon..</a>
        </div>
      </div>
    </div>
    <hr>
    <div id="tab-content">
      <div data-content="1">
        <app-topargrank></app-topargrank>
      </div>
      <div data-content="2">
        <app-conference-duration></app-conference-duration>
      </div>
      <div data-content="3">
        <app-costperbuilding></app-costperbuilding>
      </div>
      <div data-content="4">
        <app-partymembercount></app-partymembercount>
      </div>
      <div data-content="5">
        <app-attendant-rate></app-attendant-rate>
      </div>
      <div data-content='6'>
    <app-ageinterval></app-ageinterval>
    </div>
    <div data-content="7">
      Coming soon...
    </div>
  </div>
  </section>

  <section class="meeting-content" id="part2" #part2>
    <h1 class="title">About Me</h1>
    <span>เว็บข้อมูลข่าวสารที่เกี่ยวกับการประชุมรัฐสภา เเละข้อมูลที่เกี่ยวข้องกับพรรคการเมืองในเเต่ละพรรค <br>
          สามารถติดตามข่าวสาร รวมถึงการวิเคราะห์ สถิติต่าง ๆ ของการประชุมรัฐสภา
    </span>
  </section>
</div>

<!------------------------------ Footer -------------------------------->
<div class="footer">
  <div class="navbar-item">
    <img class="nav-icon" src="assets/LogoSmall.png" />
    <h1>Parliament</h1>
  </div>
  Designed and built by <strong>งื้ออออ</strong> <br>
  with the help of <strong>Angular Framework</strong> and <strong>Bulma Framework</strong> <br>
  Status <strong>Developing (unfinish)</strong> 
</div>