<!-- nav bar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">  
    <a class="navbar-item">
      <img class="nav-icon" src="assets/LogoSmall.png" alt="Parliament Meeting">
      Parliament
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">      
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/home']">
        Home
      </a>
      <a class="navbar-item">
        About
      </a>
      <a class="navbar-item">
        Meeting
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="loginbtn" [routerLink]="['/login']" routerLinkActive="active" class="button is-primary">
            <strong>Log in</strong>
          </a>
        </div>
        <div class="buttons">
          <a *ngIf="logoutbtn" (click)="logout()" class="button is-danger">
            <strong>Log out</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
 <!-- <div class="cover">
//   <h1 class="topic">PARLIAMENT</h1>
//   <h1 class="subtopic">MEETING</h1> -->
   <!-- <img class="coverUnder" src="assets/coverUnder.png" alt=""> -->
   <!-- <img class="coverUpper" src="assets/coverUpper.png" alt=""> -->
<!-- </div> -->



