.nav-icon{
    margin-left: auto;
    margin-bottom: 8px;
}

.topic {
    font-size: 4em;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: -1;
}
.subtopic {
    position: absolute;
    top: 30%;
    left: 75%;
    z-index: -1;
}