<br>
<div class="container ">
    <div class="header ">
        <label class="label is-size-1" id="header">Building</label>
    </div>
</div>
<br>

<div class="columns is-mobile is-desktop is-multiline is-centered">
    <div class="column">
        <div class="box is-narrow is-desktop is-mobile">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <label class="label is-size-3" id="header">Building</label>
                <!-- success register -->
                <div class="notification is-success is-light" *ngIf="successfulregister">
                    <button class="delete"></button>
                    <strong>REGISTER SUCCESS</strong>
                </div>
                <!-- fail register -->
                <div class="notification is-danger is-light" *ngIf="failregister">
                    <button class="delete"></button>
                    <strong>REGISTER FAIL</strong>
                </div>
                <hr>
                <div class="columns">
                    <div class="column is-7">
                        <div class="columns">
                            <div class="column is-5">
                                <div>
                                    <!-- Building name -->
                                    <label class="label">BUILDING NAME</label>
                                    <input class="input" type="text" placeholder="XXXXXXX" id="buildingname"
                                        name="buildingname" formControlName="buildingname">
                                    <div class="error" *ngIf="buildingname.invalid && buildingname.touched">
                                        <div class="help is-danger">Building name is required</div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <!-- Building number -->
                                    <label class="label">BUILDING NUMBER</label>
                                    <input class="input" type="text" placeholder="XXXXXXX" id="buildingnumber"
                                        name="buildingnumber" formControlName="buildingnumber"
                                        (keypress)="numberOnly($event)">
                                </div>
                            </div>
                            <div class="column is-4">
                                <div>
                                    <!-- Building type -->
                                    <label class="label">BUILDING TYPE</label>
                                    <input class="input" type="text" placeholder="XXXXXXX" id="buildingtype"
                                        name="buildingtype" formControlName="buildingtype">
                                    <div class="error" *ngIf="buildingtype.invalid && buildingtype.touched">
                                        <div class="help is-danger">Building type is required</div>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <!-- Bilding street -->
                                    <label class="label">BUILDING STREET</label>
                                    <input class="input" type="text" placeholder="XXXXXXX" id="buildingstreet"
                                        name="buildingstreet" formControlName="buildingstreet">
                                </div>
                            </div>
                            <div class="column is-4">
                                <div>
                                    <!-- zip code -->
                                    <label class="label">ZIP CODE</label>
                                    <div class="field" id="founderID">
                                        <div class="control">
                                            <div class="select">
                                                <select ID="zipcode" name="zipcode" formControlName="zipcode">
                                                    <option value="">Select zip code</option>
                                                    <option *ngFor="let zipcode of resultsareas">
                                                        {{zipcode.Zipcode}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div>
                                    <!-- Subdistrict -->
                                    <label class="label">SUBDISTRICT</label>
                                    <input class="input" type="text" placeholder="XXXXXXX" id="subdistrict"
                                        name="subdistrict" formControlName="subdistrict">
                                </div>
                            </div>
                        </div>
                        <div>
                            <!-- BUILDING DETAIL -->
                            <label class="label">BUILDING DETAIL</label>
                            <textarea class="textarea" placeholder="XXXXXXXXXX"
                                formControlName="buildingdetail"></textarea>
                        </div>
                    </div>
                    <div class="column">
                        <div class="level-item has-text-centered ">
                            <figure class="image is-sqaure">
                                <img [src]="url" class="img1">
                                <div class="field">
                                    <div class="file has-name">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="file" accept="image/*"
                                                name="image" formControlName="image" (change)="onselectFile($event)">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fas fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    Choose file
                                                </span>
                                            </span>
                                            <span class="file-name" id="file-name">
                                                No file selected
                                            </span>

                                        </label>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="columns is-mobile is-centered">
                    <div class="column is-2">
                        <div>
                            <form [formGroup]="form2">
                                <button class="button is-large" id="toaddroom">ADD ROOM</button>
                            </form>

                            <div class="modal" id="addroommodal">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">ROOM</p>
                                        <form [formGroup]="form2">
                                            <!-- <button class="delete" aria-label="close" id="delete"></button> -->
                                        </form>
                                    </header>
                                    <section class="modal-card-body">
                                        <div class="columns ">
                                            <div class="column is-4">
                                                <label class="label" id="header">ROOM NUMBER1 :</label>
                                            </div>
                                            <div class="column ">
                                                <input class="input" type="text" placeholder="1" id="room1"
                                                    name="room1" formControlName="room1">
                                            </div>
                                        </div>
                                        <div class="columns ">
                                            <div class="column is-4">
                                                <label class="label" id="header">ROOM NUMBER2 :</label>
                                            </div>
                                            <div class="column ">
                                                <input class="input" type="text" placeholder="1" id="room2"
                                                    name="room2" formControlName="room2">
                                            </div>
                                        </div>
                                        <div class="columns ">
                                            <div class="column is-4">
                                                <label class="label" id="header">ROOM NUMBER3 :</label>
                                            </div>
                                            <div class="column ">
                                                <input class="input" type="text" placeholder="1" id="room3"
                                                    name="room3" formControlName="room3">
                                            </div>
                                        </div>
                                        <div class="columns ">
                                            <div class="column is-4">
                                                <label class="label" id="header">ROOM NUMBER4 :</label>
                                            </div>
                                            <div class="column ">
                                                <input class="input" type="text" placeholder="1" id="room4"
                                                    name="room4" formControlName="room4">
                                            </div>
                                        </div>
                                        <div class="columns ">
                                            <div class="column is-4">
                                                <label class="label" id="header">ROOM NUMBER5 :</label>
                                            </div>
                                            <div class="column ">
                                                <input class="input" type="text" placeholder="1" id="room5"
                                                    name="room5" formControlName="room5">
                                            </div>
                                        </div>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button saveroom">Save</button>
                                    </footer>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <nav class="level-right is-mobile ">
                    <div class="level-item has-text-centered">
                        <div>
                            <button type="submit" class="button is-rounded" name="conference-submit"
                                [disabled]="form.invalid">ADD</button>
                        </div>
                    </div>
                </nav>
            </form>
        </div>
    </div>
</div>