
.header1{
    font-size: 2000px; 
}

.field {
    width: 100%;
}

.image{
    width: 75%;
}
.column{
    margin-left: 5px;
}

.field{
    display: inline;
}
#idcard{
    margin-left: 5px;
}
#header1{
    font-size: 200%;
    margin-left: 20px;
}
.button{
    margin-left: -20px;
}

.img1{
    max-width:  3in;
    max-height: 3in;
}

.file {
    max-width:  3in;
    max-height: 3in;
}


#inpFirstName{
width: 250px;
}
#partyPos{
    width: 250px;
}
#DOB{
    width: 250px;
}
#concilPos{
    width: 250px;
}
.error{
    margin-bottom: 0px;
}
.p{
    display: inline;
}
#passwordvalid{
    margin-top: -25px;
}
#passwordvalid1{
    margin-top: -25px;
    margin-bottom: 25px;
}
#doberror{
    margin-bottom: -17px;
}

#councilposadjust{
    margin-top: -3px;
}