
<div class="container is-fluid">
    <!-- Conference member -->
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success">Save changes</button>
          <button class="button">Cancel</button>
        </footer>
      </div>
    </div>

    <div class="columns" >
        <div class="card column button" id="showModal">
            <div class="card-content">
              <p class="title">
                “Conference”
              </p>
              <p class="subtitle">
                conference 
              </p>
            </div>
        </div>
    </div>
</div>